<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = __d('cake_dev', 'CakePHP: the rapid development php framework');
$cakeVersion = __d('cake_dev', 'CakePHP %s', Configure::version())
?>
<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>
		<?php echo $cakeDescription ?>:
		<?php echo $this->fetch('title'); ?>
	</title>
	<?php
		echo $this->Html->meta('icon');

		echo $this->Html->css('cake.generic');

		echo $this->fetch('meta');
		echo $this->fetch('css');
        echo $this->Html->css('Bootstrap');
		echo $this->fetch('script');
        echo $this->Html->script('bootstrap');
	?>
</head>
<body>
	<div id="container">
		<nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">personalhomepage</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/users">users</a></li>
                <li><a href="/groups">groups</a></li>
                <li><a href="/messages">messages</a></li>
                <li><a href="/work">work</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <?php
                if ($this->Session->read('Auth.User')){
                    echo "<li><a href=\"/users/logout\">logout</a></li>";
                }
                else echo "<li><a href=\"/users/login\">login</a></li>";
                ?>
            </ul>
		</nav>
		<div id="content">

			<?php echo $this->Flash->render(); ?>

			<?php echo $this->fetch('content'); ?>
		</div>
		<div id="footer">
			<?php echo $this->Html->link(
					$this->Html->image('cake.power.gif', array('alt' => $cakeDescription, 'border' => '0')),
					'http://www.cakephp.org/',
					array('target' => '_blank', 'escape' => false, 'id' => 'cake-powered')
				);
			?>
			<p>
				<?php echo $cakeVersion; ?>
			</p>
		</div>
	</div>
	<?php echo $this->element('sql_dump'); ?>
</body>
</html>
