    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">
            <div class="thumbnail">
                <img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" style="width: 200px; height: 200px;"
                     src="https://avatars.slack-edge.com/2015-09-28/11464482517_7f9f47ef0720089890d6_192.jpg" data-holder-rendered="true">
                <div class="caption">
                    <h3>Илья Селезнев</h3>
                    <p>ОмГТУ, ФИТиКС, 4 курс, Разработка ПО</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <h1>Опыта нет :'(</h1>
        </div>
        <div class="col-xs-2"></div>
    </div>